<div layout layout-wrap ng-cloak> <!-- Banner Image -->   
    <img id="banner-image" ng-src="/src/img/about-us/banner-image.jpg" alt="banner image">  
</div>

<div id="banner-text">
    <div>We are BS Enterprises</div> <br/>
    <div>You buy Home</div>
    <div>We make it Liveable</div>
</div>

<div id="brief-intro" layout="column" layout-wrap layout-padding ng-cloak> <!-- Brief Intro -->
    <div flex class="md-whiteframe-5dp whiteframe-m-t" flex-xs="85" flex-sm="45" flex-gt-sm="35" flex-gt-md="65" layout layout-align="center center" ng-cloak>
        <md-content flex layout-padding layout layout-align="center center">
            <p class="paragraph-style">
                <span class="intro-line-1">BS enterprises is amongst the top interior, exterior design and art service firm with projects nationally 
                and concentrated in Bangalore, Karnataka.</span> <br/> 
                <span class="intro-line-2">We are a team of professional, energetic individual’s with talented artists and designers with experienced managers available</span> <br/> 
                <span class="intro-line-3">to guide our client’s through the flawless and timely execution of any residential or commercial project.</span>
            </p>
        </md-content>
    </div>
    <div flex class="md-whiteframe-5dp whiteframe-m-t" flex-xs="85" flex-sm="45" flex-gt-sm="35" flex-gt-md="65" layout layout-align="center center" ng-cloak>
        <md-content flex layout-padding layout layout-align="center center">
            <p class="paragraph-style">
                <span class="intro-line-1">BS enterprises is passionate about art, aesthetics and unique designs. Our artist and architect come
                up with new and creative ideas in the field of architecture</span> <br/> 
                <span class="intro-line-2">to decorate your desired space. Our method, technologies, installation and finishing techniques include unique process of execution. </span>
            </p>
        </md-content>
    </div>
    <div flex class="md-whiteframe-5dp whiteframe-m-t" flex-xs="85" flex-sm="45" flex-gt-sm="35" flex-gt-md="65" layout layout-align="center center" ng-cloak>
        <md-content flex layout-padding layout layout-align="center center">
            <p class="paragraph-style">                
                <span class="intro-line-1">You can be assured with us of a solid commitment of integrity, responsiveness, personal service,
                consistent quality and strong relationship. We take great</span> <br/> 
                <span class="intro-line-2">care to understand our client’s view and opinion to help them with the unique design till execution. Our designs and creations</span> <br/> 
                <span class="intro-line-3">have a unique charm and timeless beauty. They are never out of fashion and add real value to you Homes,</span> <br/> 
                <span class="intro-line-4">Restaurants, Corporate offices, shopping complex, Galleries and other premises.</span>
            </p>
        </md-content>
    </div>
</div>
