
<div layout layout-wrap ng-cloak> <!-- Banner Image -->   
    <img id="banner-image" ng-src="/src/img/services/banner-image.jpg"  alt="banner image">  
</div>
`
<div id="banner-text">
    <div>We are BS Enterprises</div> <br/>
    <div>You buy Home</div>
    <div>We make it Liveable</div>
</div>

<div layout="column" layout-padding layout-wrap ng-cloak id="our-services"> <!-- Our Services -->
    <div class="center-div">
        <h1>AMAZING SERVICES</h1>
        <h2>what we can serve you</h2>
        <h5>Creating services that transform brands</h5>
    </div>
    <div layout layout-padding layout-margin layout-wrap ng-cloak>
        <div flex class="md-whiteframe-5dp" flex-xs="85" flex-sm="65" flex-gt-sm="65" flex-gt-md="45" ng-cloak>
            <div class="service-type">Unique Design Service</div>
            <md-content flex layout-padding>
                <p class="paragraph-style">
                    We provide designs for all our services including execution. Our artistic creative 
                    provides both realistic and abstract artwork for different artistic needs with 
                    complete Design. Our architect and artists are highly professionals’ designers 
                    who undertake any kind of design challenges. We can provide various ranges of Designs 
                    considering Budgets and customizations.We create designs to serve our clients to pre 
                    visualize his requirement. The design range varies from 2D to 3D renders and with animation. 
                    We do provide working drawings and shop drawing for professional level execution. Conceptual 
                    design and theme based designs are our specialty.
                </p>
            </md-content>
        </div>
        <div flex class="md-whiteframe-5dp" flex-xs="85" flex-sm="65" flex-gt-sm="65" flex-gt-md="45" ng-cloak>
            <div class="service-type">Profound Art Service</div>
            <md-content flex layout-padding>
                <p class="paragraph-style">
                    We undertake all kind of artistic projects to beautify a required space. We provide various 
                    kinds of wall murals and sculptures from urban designs to historical tales in both color 
                    and monochrome. We design and manufacture customized wall mural, sculpture, art effect and 
                    printing and many more to decorate and beautify any given space. Our artists are highly 
                    talented, creative and experienced to blend with your ideas to create a unique master piece 
                    for your required space. We use wide ranges of materials and process to execute a projects. 
                    Wall murals and paintings could be done at residential, hotels, restaurants, villas, malls, 
                    showrooms, office space and temples.
                </p>
                </md-content>
        </div>
    </div>
    <div layout layout-padding layout-margin layout-wrap ng-cloak>
        <div flex class="md-whiteframe-5dp" flex-xs="85" flex-sm="65" flex-gt-sm="65" flex-gt-md="45" ng-cloak>
            <div class="service-type">Leading Interior Decoration</div>
            <md-content flex layout-padding>
                <p class="paragraph-style">
                    At BS Enterprises, great interior design is our business and our passion. High quality 
                    and customization is the key. We believe that a house becomes a home when it’s personalized — your
                     space should show off your tastes and personality, work with your lifestyle, and maybe make 
                     your guests a little jealous. We know that creating a home interior that does all of 
                     these things aren’t easy, and we’re here to help. Our talented designers bring years of 
                     experience to the table, couch, coffee table, or whichever furniture piece we’re sitting near. 
                     We conceptualize your vision and idea to provide you the best space to live.residential, hotels, 
                     restaurants, villas, malls, showrooms, office space and temples.
                </p>
            </md-content>                
        </div>
        <div flex class="md-whiteframe-5dp" flex-xs="85" flex-sm="65" flex-gt-sm="65" flex-gt-md="45" ng-cloak>
            <div class="service-type">Exclusive Exterior Decoration Service</div>
            <md-content flex layout-padding>
                <p class="paragraph-style">
                    Our exterior service includes landscaping, water feature, murals, fabrication and many more. 
                    We can enrich people’s lives through landscaping exterior art. B S enterprises provides comprehensive 
                    landscape services. B S enterprises promises greater value by providing our services at competitive 
                    rates and guaranteeing your satisfaction with our leadership, service and accountability.
                    We provide detailed installations with outstanding workmanship, as we strive to achieve the 
                    best results possible for your Landscape or exterior project. Whatever your needs or desires, 
                    we will work with you
                </p>
            </md-content>
        </div>
    </div>
</div>

